doctype html
html
  head
    title
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/css/bootstrap-datetimepicker.min.css', rel='stylesheet', media='screen')
  body
    nav.navbar.navbar-expand-md.bg-dark.navbar-dark(style="z-index:200; float:left; width:100%;")
      a.navbar-brand(href='/home') Ridez Now
      button.navbar-toggler(type='button',style="float:right;" data-toggle='collapse', data-target='#collapsibleNavbar')
        span.navbar-toggler-icon
      #collapsibleNavbar.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='/about') About
          li.nav-item
            a.nav-link(href='/bookings') My Bookings
          li.nav-item
            a.nav-link(href='/liimgupload') My Profile
          li.nav-item
            a.nav-link(href='/users/logout') LogOut