extends layout
block content
  center(style='position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);')
    .container
      .wrap-login100
        ul.list-group
          each city, i in cities
            li.list-group-item
              a(href="/"+city._id)= city.cityname
              if username="adminrideznow"
                Button(class="btn" value="ADD CITY" style="border-radius: 10px; background-color:red; color:#fff;")
                  | REMOVE    
        if username = "adminrideznow"
          Button(class="btn" value="ADD CITY" style="border-radius: 10px; background-color:Blue; color:#fff;")
            | ADD CITY