doctype html
html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    link(rel='stylesheet', href='/css/util.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    nav.navbar.navbar-expand-md.bg-dark.navbar-dark
      a.navbar-brand(href='#') Ridez Now
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsibleNavbar')
        span.navbar-toggler-icon
      #collapsibleNavbar.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='#') About
          li.nav-item
            a.nav-link(href='#') My Bookings
          li.nav-item
            a.nav-link(href='#') My Profile
          li.nav-item
            a.nav-link(href='/users/logout') LogOut
    block content